

<!-- {% load crispy_forms_tags %} -->
<form class='form {% if form_class %}{{ form_class }}{% endif %}' method="POST" action="{% if action_url %}{{ action_url }}{% endif %}" enctype="multipart/form-data">{% csrf_token %}
  <div class='form-group'>
    {{ form.title }}
    {{ form.content }}
  <!-- </div> -->

<!-- <div class='form-group'> -->
<div class=row>
  <div class="col-md-5">

      <div class="file">
        <label class="input-group-btn">
          <span class="btn btn-primary">Choose File{{ form.image }}</span>
        </label>
        <input type="text" class="form-control" readonly="">
      </div>

  </div>
  <div class="col-md-2">
    <div class="lah">
      <label class="control-label" for="inputSuccess2">Points</label>
      {{ form.points }}
    </div>
  </div>
</div>
<input class='btn btn-primary_2' type="submit" value="{{ btn_title }}" />
</div>
</form>
