{% extends 'base.html' %}

{% block content %}
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}

<!-- {% extends 'base.html' %}
{% block content %}
<div class='container-fluid' style='margin-top: 60px'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <div class='card'>
        <div class='card-header'>Password Reset</div>
        <div class='card-body'>
          <div class='card-block'>
            <p class='card-text'>
              We have sent an email that allows you to chnage your password
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} -->
