{% extends "base.html" %}

{% block title %}{{ block.super }} | Welcome{% endblock title %}

{% block content %}
<h2>What is mickle?</h2><img src="http://mickle123.com/static/mickle.jpeg" class="ratio img-responsive img-circle" alt="Sample image" width="200" height="auto">
Mickle is a platform that allows you to share your thoughts, pictures, and so on. You can monetize your original contents via
mickle's points, which you can purchase by cryptocurrency such as Bitcoin, Ethereum and the like.
Currently there is no exchange function for points, so if you want to exchange points to your favorite cryptocurrency
please contact me here: <a href="mailto:address">admin@mickle123.com</a>I can consider the exchange your points beased on your activity and the amount of points(min: 5000)
Lastly if you have any questions or want to know updates on the website, please follow mickle_admin(id:admin).

<hr / >
<h2>About development</h2>
<img src="http://mickle123.com/static/hoshito.jpg" class="ratio img-responsive img-circle" alt="Sample image" width="200" height="auto">
<a href="http://hoshito123.com/">Hoshito</a> is the developer who created this website with the intention of learning how to develop web application like this.
This website is still under development and there is still alot to be fixed and added.
I am improving it almost every day so you can enjoy the app more! Apart from pictures and texts, there would be more that you
can upload like audio file, word fike and stuff in the near future (probably within 1 - 2 months as of 2/25/2019) so please stay tuned:)


{% endblock content %}
