
{% extends "base.html" %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="centered">What is mickle?</h1>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="app" class="centered" data-delighter>
    <h2>Any valueable ideas?</h2>
    <img src="http://mickle123.com/static/about/idea.png" width="200" height="auto">
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="app" class="centered" data-delighter>
    <h2>Any good works?</h2>
    <img src="http://mickle123.com/static/about/pdf.png" width="150" height="auto">
    <img src="http://mickle123.com/static/about/audio.png" width="150" height="auto">
    <img src="http://mickle123.com/static/about/pic2.png" width="150" height="auto">
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="app" class="centered" data-delighter>
    <h2>Thinking about monetizing?</h2>
    <img src="http://mickle123.com/static/about/money.png" width="200" height="auto">
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="app" class="mickle_about" data-delighter>
    <h2 class="centered">Mickle allows you to limit your contents with points</h2>
    <div id='mickle' class="mickle-container">
      <hr class='about_2'>
      <div class="container_1">
        <div class='col-sm-1'>
          <img src="http://mickle123.com/static/profile/mickle.jpeg" class="ratio img-responsive img-circle" alt="user-icon">
        </div>
        <b>mickle-admin</b><span class="grey-color left"> id:admin 3weeks ago</span>
        <p>Let's click 1 point button!</p>

          <a href="#" class="view">View</a>
          <a class="retweetBtn" href="#">Remickle(0)</a>
          <a href="#" class="tweet-like">Stock(0)</a>
          <a href="#" class="tweet-reply">Reply</a>
          <a class="tweet_points" href="http://mickle123.com/register">1point(0)</a>

        <hr class='about'>
      </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a><p>Mickle is developed by <a href="http://hoshito123.com/">Hoshito</p></div>
{% endblock content %}
